{% extends "base_generic.html" %}

{% block title %}
<title>Registrar</title>
{% endblock %}

{% block searchbar %}{% endblock %}

{% block content %}
<div class="min-h-screen flex justify-center bg-gray-50 py-8 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
        <div>
            <h2 class="mt-4 text-center text-2xl font-extrabold text-gray-900">
                Crie sua conta
            </h2>
        </div>
        <form class="mt-8 space-y-6"
              method="post">
            {% csrf_token %}


            {% if form.errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for field in form %}
                    {% for error in field.errors %}
                    <li class="text-red-400"><strong>{{ field.label }}:</strong> {{ error }}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            <div class="rounded-md shadow-sm -space-y-px">
                <div>
                    <label for="id_first_name" class="sr-only">Primeiro nome</label>
                    <input id="id_first_name" name="{{ form.first_name.name }}" type="text" required
                           class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300
           placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500
           focus:border-indigo-500 focus:z-10 sm:text-sm"
                           placeholder="Primeiro nome">
                </div>
                <div>
                    <label for="id_last_name" class="sr-only">Último nome</label>
                    <input id="id_last_name" name="{{ form.last_name.name }}" type="text" required
                           class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300
           placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500
           focus:border-indigo-500 focus:z-10 sm:text-sm"
                           placeholder="Último nome">
                </div>
                <div>
                    <label for="id_username" class="sr-only">Nome de usuário</label>
                    <input id="id_username" name="{{ form.username.name }}" type="text" required
                           class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300
                           placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500
                           focus:border-indigo-500 focus:z-10 sm:text-sm"
                           placeholder="Nome de usuário">
                </div>
                <div>
                    <label for="id_email" class="sr-only">Email</label>
                    <input id="id_email" name="{{ form.email.name }}" type="email" required
                           class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300
                           placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500
                           focus:border-indigo-500 focus:z-10 sm:text-sm"
                           placeholder="Email">
                </div>
                <div>
                    <label for="id_password1" class="sr-only">Senha</label>
                    <input id="id_password1" name="{{ form.password1.name }}" type="password" required
                           class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300
                           placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500
                           focus:border-indigo-500 focus:z-10 sm:text-sm"
                           placeholder="Senha">
                </div>
                <div>
                    <label for="id_password2" class="sr-only">Confirmar senha</label>
                    <input id="id_password2" name="{{ form.password2.name }}" type="password" required
                           class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300
                           placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500
                           focus:border-indigo-500 focus:z-10 sm:text-sm"
                           placeholder="Confirmar senha">
                </div>
            </div>
            <div>
                <button type="submit"
                        class="group relative w-full flex justify-center py-2 px-4 border border-transparent
                        text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none
                        focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Registrar
                </button>
            </div>
        </form>

        <p class="mt-2 text-center text-sm text-gray-600">
            <a href="{% url 'login' %}"
               class="font-medium text-indigo-600 hover:text-indigo-500">
                Já tem uma conta? Entre aqui
            </a>
        </p>
    </div>
</div>
{% endblock %}