{% extends "base_generic.html" %}


{% block content %}

<h1 class="text-xl ml-2 text-gray-900 my-2">1. Introdução aos Investimentos </h1>

<h2 class="text-lg ml-5 text-gray-800 mb-1">Conceitos Básicos de Investimento:</h2>
<p class="text-base ml-5 mr-3 mb-2 text-justify text-gray-700 ">Investir é dedicar recursos financeiros a uma atividade
    ou projeto com a expectativa de obter um retorno financeiro
    no futuro. Os investimentos podem ser feitos em uma ampla variedade de ativos. O objetivo principal do investimento
    é aumentar a riqueza ao longo do
    tempo, seja por meio de ganhos de capital (valorização do investimento) ou rendimentos (como dividendos ou
    juros).</p>

<h2 class="text-lg ml-5 text-gray-800 mb-1">Importância da Educação Financeira:</h2>
<p class="text-base ml-5 mr-3 mb-2 text-justify text-gray-700 "> Essencial para tomar decisões informadas e responsáveis
    sobre dinheiro e investimentos. Ela
    envolve o entendimento dos princípios básicos de gestão financeira, orçamento pessoal, planejamento para o futuro e
    conhecimento dos diferentes produtos financeiros disponíveis. Com uma boa educação financeira, os investidores podem
    evitar armadilhas, entender os riscos e maximizar as oportunidades de investimento.</p>

<h2 class="text-lg ml-5 text-gray-800 mb-1">Diferentes Classes de Ativos:</h2>

<p class="text-base ml-5 mr-3 mb-2 text-justify text-gray-700 ">Algumas das classes de ativos disponíveis são:
</p>
<ul class="ml-9 mr-3 mb-2 list-disc">
    <li class="text-base  text-gray-700 "><strong>Ações:</strong> Representam a propriedade de uma empresa e oferecem
        potencial de crescimento do capital e recebimento de
        dividendos.
    </li>
    <li class="text-base  text-gray-700 "><strong>Títulos:</strong> São empréstimos feitos a governos ou empresas, que
        pagam juros ao investidor. Podem incluir títulos do
        governo, títulos corporativos e títulos municipais.
    </li>
    <li class="text-base  text-gray-700 "><strong>Fundos Mútuos:</strong> São pools de dinheiro investidos em uma
        variedade de ativos, como ações, títulos e outros
        instrumentos financeiros, gerenciados por profissionais.
    </li>
    <li class="text-base  text-gray-700 "><strong>Commodities:</strong> Incluem produtos básicos, como ouro, petróleo,
        grãos e metais, negociados em mercados
        específicos.
    </li>
</ul>
{% endblock %}