{% extends "base_generic.html" %}


{% block title %}
<title>Explorar Índices</title>
{% endblock %}

{% block content %}

<h1 class=" text-2xl text-center text-gray-900 my-2">Explorar Índices</h1>

<p class="text-small italic text-gray-500 text-right mr-2">Dados atualizados de acordo com <a class="text-blue-500 underline"
        href="https://www3.bcb.gov.br/sgspub/localizarseries/localizarSeries.do?method=prepararTelaLocalizarSeries">Portal
    do Banco Central do Brasil</a> - {% now "d/m/Y H:i" %}</p>

<div class="mx-auto bg-white rounded-xl shadow-md overflow-hidden m-3 w-full max-w-xs relative">
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor"
                 class="w-5 h-5 absolute top-6 right-3">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z"/>
            </svg>
    <div class="flex flex-col">
        <div class="pl-6 pt-6 pb-3 flex justify-between">
            <div>
                <h1 class="text-xl font-bold text-gray-900">SELIC</h1>
                <h2 class="text-gray-600">Sistema Especial de Liquidação e Custódia</h2>
            </div>

        </div>
        <div class="pl-6 pt-2 mb-2">
            <p class="mt-2 text-gray-700">Taxa SELIC atual: <strong>{{ taxa_selic_atual }}% </strong></p>
            <p class="mt-2 text-gray-700">Meta da Taxa SELIC: <strong> {{ taxa_selic_meta }}%</strong></p>
        </div>
    </div>
</div>

<div class="mx-auto bg-white rounded-xl shadow-md overflow-hidden m-3 w-full max-w-xs relative">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor"
                 class="w-5 h-5 absolute top-6 right-3">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z"/>
            </svg>
    <div class="flex flex-col">
        <div class="pl-6 pt-6 pb-3 flex justify-between">
            <div>
                <h1 class="text-xl font-bold text-gray-900">IPCA</h1>
                <h2 class="text-gray-600">Índice Nacional de Preços ao Consumidor Amplo</h2>
            </div>

        </div>
        <div class="pl-6 pt-1 mb-2">
            <p class="mt-2 text-gray-700">IPCA de Hoje: <strong>{{ ipca_atual }}%</strong></p>
            <p class="mt-2 text-gray-700">IPCA Acumulado (Últimos 12 meses):  <strong>{{ ipca_acumulado }}%</strong></p>

        </div>
    </div>
</div>

{% endblock %}
