{% extends "base_generic.html" %}
{% load static %}
{% block content %}

<h1
        class="text-2xl text-center text-gray-900 my-2">Apresentação</h1>

<p class="text-base text-center text-justify text-gray-700 ml-5 mr-3" >
    Bem-vindo à nossa plataforma de educação financeira dedicada a iniciantes que desejam aprender sobre o mundo das
    finanças e da bolsa de valores. Aqui, oferecemos uma experiência de aprendizado simples e acessível, projetado para
    capacitar os iniciantes a entenderem os conceitos fundamentais do mercado financeiro, cultivar bons hábitos
    financeiros e fazer planos de futuros investimentos. Com uma abordagem prática e interativa, fornecemos uma
    variedade de recursos educacionais, incluindo conceitos fundamentais e simulações didáticas de acesso à bolsa de
    valores, tudo adaptado ao nível de conhecimento básico.
</p>


{% endblock %}
